<div id="content">
    <form [formGroup]="form">
        <div>
            <label>Логин: </label>
            <input formControlName="login">
        </div>
        <div>
            <label>Пароль: </label>
            <input formControlName="password" type="password">
        </div>
        <div *ngIf="wrongData" red>
            Пароль или логин введены неверно
        </div>
        <div>
            <button (click)="submit()">Войти</button>
        </div>
        <div>
            <a routerLink="/user/reg" routerLinkActive="active">Регистрация</a>
        </div>
    </form>
</div>
