<button (click)="exit()">Выйти</button>
<button class="to-costs-control" routerLink="/control" routerLinkActive="active">Назад</button>
<div class="budget">
    Бюджет: <input [(ngModel)]="planService.plan.sum" placeholder="name">
</div>
<div class="blocks">
    <block *ngFor="let block of blocks"
           [name]="block.name"
           [percent]="block.percent"
           [level]="block.level"
           [sum]="block.sum"
           (blockClick)="configure(block)"></block>
    <button (click)="startSubBlockAdding(planService.plan)" [disabled]="!planService.plan.freePercent">+</button>
</div>
<modal id="configuration">
    <div class="configuration">
        <div>
            <input [(ngModel)]="configuredBlock.name">
        </div>
        <div>
            <button (click)="startSubBlockAdding(configuredBlock)" [disabled]="!configuredBlock.freePercent">Добавить подблок</button>
            <span red *ngIf="!configuredBlock.haveSubElements"> *это удалит все траты, связанные с этим блоком</span>
        </div>
        <div>
            <button (click)="removeSubBlocks()">Очистить от подблоков</button>
            <span red> *это удалит все траты, связанные с этим блоком</span>
        </div>
        <div>
            <button (click)="removeBlock()">Удалить</button>
            <span red> *это удалит все траты, связанные с этим блоком</span>
        </div>
        <div>
            <button (click)="closeConfiguration()">Закрыть</button>
        </div>
    </div>
</modal>
<modal id="adding">
    <add-panel (blockAdded)="addSubBlock($event)"></add-panel>
</modal>
