.budget, .add-block, .rename-block, .blocks {
    border: 2px solid black;
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.configuration, .adding {
    display: flex;
    flex-direction: column;
    margin-bottom: -10px;
}

.configuration *, .adding * {
    margin-bottom: 5px;
}

.to-costs-control {
    margin-bottom: 10px;
}
