<button (click)="exit()">Выйти</button>
<button class="to-costs-control" (click)="toControlCosts()">Назад</button>
<div class="budget">
    Бюджет: <input [(ngModel)]="planService.plan.sum" placeholder="name">
</div>
<div class="blocks">
    <block *ngFor="let block of blocks"
           [name]="block.name"
           [percent]="block.percent"
           [level]="block.level"
           [sum]="block.sum"
           (blockClick)="configure(block)"></block>
    <button (click)="confPanel?.addSubBlock(planService.plan)" [disabled]="!planService.plan.freePercent">+</button>
</div>
<conf-panel (planChanged)="updateBlocks()"></conf-panel>
