#header {
    display: flex;
    align-items: flex-end;
    width: 50%;
    margin-bottom: 20px;
    font: 35px 'Montserrat';
    -webkit-text-stroke: 2px black;
    color: gray;
}

#logo {
    width: 70px;
    height: 70px;
}

#h0 {
    line-height: 25px;
    margin-left: -7px;
}

#exit {
    font-size: 25px;
    line-height: 20px;
    margin-left: auto;
}

#exit:hover {
    color: black;
}

#exit:active {
    color: white;
}

#to-costs-control {
    margin-bottom: 10px;
}

#exit {
    margin-right: 10px;
}

#budget, #blocks {
    border: 2px solid black;
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
