#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#logo {
    width: 70px;
    height: 70px;
}

.h0 {
    font: 35px 'Montserrat';
    line-height: 25px;
    color: gray;
    -webkit-text-stroke: 2px black;
}

#h0:first-child {
    margin-right: -10px;
}

#h0:last-child {
    margin-left: -7px;
}
