<modal id="add-panel-modal">
    <div class="panel">
        <div [formGroup]="form">
            <div>
                <input formControlName="name">
            </div>
            <div>
                1 <input formControlName="percent" type="range" min="1" max="{{parentBlock.freePercent}}">
                {{parentBlock.freePercent}} [{{form.controls['percent'].value}} %]
            </div>
            <div>
                <button (click)="submit()">Добавить подблок</button>
            </div>
            <div>
                <button (click)="close()">Закрыть</button>
            </div>
        </div>
    </div>
</modal>
