<div id="content">
    <form [formGroup]="form">
        <div>
            <label>Логин: </label>
            <input formControlName="login">
        </div>
        <div *ngIf="(this.form.controls['login'].hasError('required') ||
                     this.form.controls['login'].hasError('pattern') ||
                     this.form.controls['login'].hasError('minlength')) &&
                     form.controls['login'].touched" red>
            Логин должен быть длиннее 6 символов и состоять только из цифр, прописных или строчных букв латинского алфавита
        </div>
        <div *ngIf="form.controls['login'].hasError('loginUsed')" red>
            Логин уже занят
        </div>
        <div>
            <label>Пароль: </label>
            <input formControlName="password" type="password">
        </div>
        <div *ngIf="form.controls['password'].invalid && form.controls['password'].touched" red>
            Пароль должен быть длиннее 8 символов и состоять только из цифр, прописных или строчных букв латинского алфавита, а также символов !"#$%&'()*+,-.
        </div>
        <div>
            <label>Повторите пароль: </label>
            <input formControlName="passwordConfirm" type="password">
        </div>
        <div *ngIf="form.hasError('notSame') && form.controls['passwordConfirm'].touched" red>
            Пароли не совпадают
        </div>
        <div>
            <button (click)="submit()">Регистрация</button>
        </div>
        <div>
            <a routerLink="/auth/user" routerLinkActive="active">Войти</a>
        </div>
    </form>
</div>
